* {
  margin: 0;
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
.carousel-image {
  max-height: 500px;
}

.footer-ul {
  background-color: rgb(37, 189, 189);
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
